fastapi>=0.109.1
uvicorn
debugpy
langchain-community>=0.0.32
langchain>=0.0.236
langchainhub>=0.1.20
gpt4all
chromadb
requests
beautifulsoup4
starlette>=0.40.0 
protobuf>=6.31.1
h11>=0.16.0